
  #titulo{
	background-color: #6fff00;
	text-decoration-color: black;
	
  }
  #titulof{
	background-color:#0051ff; 
	color:white;

  }
  #tituloa{
	background-color:#0051ff; 
	color:white;

  }
  #titulot{
	background-color:#0051ff; 
	color:white;

  }
  
  #nav{
	background-color: #dfdd;
	
  
  }
  #navf{
	background-color: #dfdd;
	
  
  }
  #nava{
	background-color: #dfdd;
	
  
  }
  #navt{
	background-color: #dfdd;
	
  
  }
  #articulo{
	background-color:#dfdd;
  }
  #articulof{
	background-color:#dfdd;
  }
  #articuloa{
	background-color:#dfdd;
  }
  #articulot{
	background-color:#dfdd;
  }