
  #titulo{
	background-color: #6fff00;
	
	
  }
  #titulof{
	background-color:#0051ff; 
	color:white;

  }
  #tituloa{
    background-color:#e3f25f ; color:black

  }
  #texta{
    Color:white;
  }
  #titulot{
	background-color:#0051ff; 
	color:white;

  }
  
  #nav{
	background-color: #dfdd;
	
  
  }
  #navf{
    background-color:rgba(221, 223, 255, 0.867);
	
  
  }
  #nava{
    background-color:rgba(255, 254, 221, 0.867);
	
  
  }
  #navt{
	background-color: #dfdd;
	
  
  }
  #articulo{
	background-color:#dfdd;
  }
  #articulof{
    background-color:rgba(221, 223, 255, 0.867);
  }
  #articuloa{
    background-color:rgba(255, 254, 221, 0.867);
  }
  #articulot{
	background-color:#dfdd;
  }